<div class="blog-post">

  <h2 class="blog-post-title"><%= link_to blog.title, blog %></h2>
  <p class="blog-post-meta">Published <%= time_ago_in_words blog.created_at %> ago</p>
  <%= render 'admin_actions', blog: blog  %>

  <p><%= blog.body %></p>
</div>
