<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler navbar-toggler-right" type="button"
          data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><%= fa_icon("caret-square-o-down") %></span>
  </button>

  <%= link_to "Christopher Brenner", root_path, class: "navbar-brand masthead-brand" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <%= nav_helper "nav-link", "li" %>
      <%= login_helper "nav-link" %>
    </ul>
  </div>
</nav>
