<div class="mastfoot app-footer">
  <div class="inner">
    <p><%= @copyright %> | <%= link_to "Source Code", "https://github.com/cbrenner04/DevcampPortfolio", :target => "_blank" %></p>
  </div>
</div>
