<footer class="blog-footer">
  <p><%= @copyright %> | <%= link_to "Source Code", "https://github.com/cbrenner04/DevcampPortfolio", :target => "_blank" %></p>
  <p><a href="#">Back to top</a></p>
</footer>
