<div class="blog-header">
  <div class="container">
    <h2 class="blog-title">Chris's Blog</h2>
    <p class="blog-description">All about whatever I think.</p>
    <span>
      <% if logged_in? :admin %>
        <%= link_to 'New Blog', new_blog_path %> |
        <%= link_to 'New Topic', new_topic_path %> |
      <% end %>
    </span>

    <span>
      <%= link_to "Topics", topics_path %>
    </span>
  </div>
</div>
