<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nihil saepe
      nostrum eligendi, tenetur quidem, dolor. Sequi consequuntur aliquam fugiat
      deserunt reiciendis excepturi ducimus quam ad veritatis, explicabo, labore
      et!
    </p>
    <p>
      <%= link_to "Find out more about me", about_path , class: "btn btn-primary" %>
      <%= link_to "My Blog", blogs_path , class: "btn btn-secondary" %>
    </p>
  </div>
</section>
