<section class="jumbotron text-center">
  <div class="container">
    <h2 class="jumbotron-heading">My Portfolio</h2>
    <p class="text-muted">
      Much of these are still works in progress. They all offer different perspectives
      on my talents so make sure to poke around, visit the apps, and view the
      source code. If you'd like, let me know what you think!
    </p>
    <p>
      <%= link_to "Find out more about me", about_path , class: "btn btn-primary" %>
      <%= link_to "My Blog", blogs_path , class: "btn btn-secondary" %>
    </p>
  </div>
</section>
