<div class="app-card-container">
  <div class="card">

    <h1>About me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "linked_in_profile.jpg", width: 300, alt: "profile image" %>

        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
            <h4><%= skill.title %></h4>
              <div class="progress">
                <div class="progress-bar progress-bar-stripped bg-warning"
                     role="progressbar" aria-valuenow="<%= skill.percent_utilized %>"
                     aria-valuemax="100" style="width: <%= skill.percent_utilized %>%;">
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, deserunt enim
          quidem, aut incidunt similique pariatur omnis corrupti distinctio nostrum
          commodi aperiam eaque officia ex nulla quos inventore dolores? Natus.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, deserunt enim
          quidem, aut incidunt similique pariatur omnis corrupti distinctio nostrum
          commodi aperiam eaque officia ex nulla quos inventore dolores? Natus.
        </p>

        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse"
                  data-target="#jobs" aria-expanded="false" aria-controls="jobs">
            Employment History
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse"
                  data-target="#education" aria-expanded="false" aria-controls="education">
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobs">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
            <div class="card card-block">
              Job 3
            </div>
          </div>


          <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
            <div class="card card-block">
              School 2
            </div>
            <div class="card card-block">
              School 3
            </div>
          </div>
        </p>
      </div>
    </div>

  </div>
</div>
