<div class="app-card-container">
  <div class="card">

    <h1>About me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "linked_in_profile.jpg", width: 300, alt: "profile image" %>

        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
            <h4><%= skill.title %></h4>
              <div class="progress">
                <div class="progress-bar progress-bar-stripped bg-warning"
                     role="progressbar" aria-valuenow="<%= skill.percent_utilized %>"
                     aria-valuemax="100" style="width: <%= skill.percent_utilized %>%;">
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>
          As long as I can remember I have been excited by challenges and love
          solving problems. This driving force lead me to a BA in Psychology and
          an MPH in Epidemiology (no that does not have to do with skin :P) in
          pursuit of a career in research. After a few successful years, having
          published a many papers and being a part of some successful studies, I found
          myself feeling unfulfilled. Luckily for me the last research study I
          was involved in lead me to a new found passion: software development.
        </p>
        <p>
          The study was researching the use of a mobile intervention in people with
          Schizophrenia. I was the coordinator and the research assistant which
          meant I was in direct contact with the people developing the mobile
          application, the Center for Behavioral Intervention Technologies (CBITs) at
          Northwestern University. In fact, among my other responsibilities to the study,
          I was in charge of the quality control of the application and I enjoyed it.
          Like I said, I was feeling unfulfilled with the research world and when the
          department I worked in made some major changes, I used that as an excuse to
          pursue an opportunity with CBITs.
        </p>
        <p>
          At CBITs I was in charge of the Quality Control for the majority of the
          applications that were being built. This was a large assortment of web and mobile
          apps ranging from very small feature sets to very large ones. I started
          out manually testing the applications but due to the workload that became
          unbearable. This lead me to writing automated test suites and BAM! I was hooked.
          There were so many problems to solve and so many challenges to face. It
          was very exciting.
        </p>
        <p>
          Over time I realized that I really liked the development process. Due to
          needs in the department, not only was I running QC but I was also doing
          a lot of technical project management. Working closely with the developers
          in all aspects of the development process, it became obvious to me how
          much I enjoyed it and wanted to pursue it as a career. Through self-motivation
          and determination, I started to excel at writing test suites in Ruby so
          I started to branch out. I took a few online classes here and there, starting
          to round out my knowledge, and when the time came I jumped at the
          opportunity to take a Developer position with CBITs.
        </p>
        <p>
          Since then I have taken more online courses and completed a 6 month
          bootcamp at Northwestern University. I have written many apps in Ruby on
          Rails (including this one!) and Ionic 2. I have also written a lot of
          applications using Node and Express while interchanging mySQL, Mongo,
          Handlebars, and React. At the moment, if you were to ask me what I
          would write my next app in, it would be a Ruby on Rails backend with a
          React frontend. I am truly excited about the opportunities that lay ahead
          of me in this field and I cannot wait to see what I will build next.
          Will you be a part of it?
        </p>

        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse"
                  data-target="#jobs" aria-expanded="false" aria-controls="jobs">
            Employment History
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse"
                  data-target="#education" aria-expanded="false" aria-controls="education">
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobs">
            <hr>
            <div class="card card-block">
              <p><strong>Software Developer</strong> at <em>Center for Behavioral Intervention Technologies</em></p>
              <p class="text-muted">2016 - Present</p>
            </div>
            <div class="card card-block">
              <p><strong>Quality Control Manager</strong> at <em>Center for Behavioral Intervention Technologies</em></p>
              <p class="text-muted">2014 - 2016</p>
            </div>
            <div class="card card-block">
              <p><strong>Project Coordinator</strong> at <em>Thresholds</em></p>
              <p class="text-muted">2012 - 2014</p>
            </div>
          </div>


          <div class="collapse" id="education">
            <hr>
            <div class="card card-block">
              <p><strong>Northwestern University</strong> Coding Bootcamp, <em>Full-Stack Web Development</em></p>
              <p class="text-muted">2016 - 2017</p>
            </div>
            <div class="card card-block">
              <p><strong>University of Toledo</strong> Master of Public Health, <em>Epidemiology</em></p>
              <p class="text-muted">2009 - 2010</p>
            </div>
            <div class="card card-block">
              <p><strong>University of Toledo</strong> Bachelor of Arts, <em>Psychology</em></p>
              <p class="text-muted">2004 - 2008</p>
            </div>
          </div>
        </p>
      </div>
    </div>

  </div>
</div>
