<div class="app-card-container">
  <div class="card">

    <h1>About me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "linked_in_profile.jpg", width: 300, alt: "profile image" %>
      </div>

      <div class="col-md-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, deserunt enim
          quidem, aut incidunt similique pariatur omnis corrupti distinctio nostrum
          commodi aperiam eaque officia ex nulla quos inventore dolores? Natus.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, deserunt enim
          quidem, aut incidunt similique pariatur omnis corrupti distinctio nostrum
          commodi aperiam eaque officia ex nulla quos inventore dolores? Natus.
        </p>
      </div>
    </div>

  </div>
</div>
