<div class="inner cover home">
  <h1 class="cover-heading">Christopher J. Brenner, MPH</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam
    perspiciatis nostrum quas natus nemo libero, facere voluptatibus, quam nobis
    nam qui optio modi ducimus blanditiis voluptatem unde vel, iste omnis.
  </p>
  <p class="lead">
    <%= link_to "About me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
