<div class="inner cover home">
  <h1 class="cover-heading">Welcome to my portfolio site</h1>
  <p class="lead">
    I am a passionate software developer, eager to learn from and collaborate
    with others. I am a huge fan of Ruby on Rails as well as React. Take a look
    at my portfolio page for some examples.
  </p>
  <p class="lead">
    <%= link_to "About me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
